<div style="overflow: auto">
  <div id="goalsTabs" style="display: flex; flex-direction: row; justify-content: space-evenly; margin-top: 16px;">
    <div style="display: flex; flex-direction: column; align-items: center; width:114px;">
      <h3><b>Goals</b></h3>
      <svg xmlns="http://www.w3.org/2000/svg" width="114" height="4" viewBox="0 0 114 4">
        <rect id="tabUnderline" data-name="Tab Underline" width="114" height="4" rx="2" fill="#073b4c"/>
      </svg>
    </div>
    <div style="display: flex; flex-direction: column; align-items: center; width:114px;">
      <h3>Rankings</h3>
    </div>
  </div>
  <div style="margin-top: 32px; margin-bottom: 32px;">
    <h1 align="center">Goals</h1>
  </div>
  <div id="goalsCarousel" style="display: flex; flex-direction: row; width: 100%; height: 144px; align-items: baseline; justify-content: space-between; padding-left: 22px; padding-right: 22px;">
    <div style="width: 72px; height: 72px; border: 1px solid #073B4C; border-radius: 50px; background-color: darkgrey;"></div>
    <div style="display: flex; flex-direction: column;" align="center">
      <div style="width: 100px; height: 100px; border: 1px solid #073B4C; border-radius: 50px; background-color: darkgrey;"></div>
      <h4 style="margin-top: 16px;"><b>Goal</b></h4>
      <h4 style="margin-top: 0px;">Creator</h4>
    </div>
    <div style="width: 72px; height: 72px; border: 1px solid #073B4C; border-radius: 50px; background-color: darkgrey;"></div>
  </div>
  <div align="center" id="progressSection">
    <div align="left" id="progressbar">
      <div></div>
    </div>
    <p>{{progress}}% Complete</p>
  </div>
  <hr/>
  <div id="goalTrack" style="margin-top: 32px;">
    <ion-row>
      <ion-col>

      </ion-col>
      <ion-col align="center">
        <img src="../../assets/icon/goalsIcons/Track-Complete.svg" alt="Completed" width="48px"/>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
    <ion-col align="center">
      <img src="../../assets/icon/goalsIcons/Track.svg" alt="" width="8px"/>
    </ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col align="center">
        <img src="../../assets/icon/goalsIcons/Track-Complete.svg" alt="Completed" width="48px"/>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
     <ion-col align="center">
      <img src="../../assets/icon/goalsIcons/Track.svg" alt="" width="8px"/></ion-col>
    </ion-row>
    <ion-row>
      <ion-col></ion-col>
      <ion-col align="center">
        <img src="../../assets/icon/goalsIcons/Track-Current.svg" alt="Completed" width="48px"/>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
    <ion-row>
      <ion-col align="center">
       <img src="../../assets/icon/goalsIcons/Track.svg" alt="" width="8px"/></ion-col>
     </ion-row>
     <ion-row>
       <ion-col></ion-col>
       <ion-col align="center">
         <img src="../../assets/icon/goalsIcons/Track-Locked.svg" alt="Completed" width="48px"/>
       </ion-col>
       <ion-col></ion-col>
     </ion-row>
  </div>
</div>
