<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Search
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!--------------------------------------------------------------------------------------------------------
--------------------------------- SearchBar - Creators, Podcasts , Playlists ------------------------------------
---------------------------------------------------------------------------------------------------------->
  <ion-searchbar animated="true" placeholder="Search for users, creators, or podcasts"></ion-searchbar>
<div id="searchFilter">
  <ion-item class="col text-center">
    <ion-button>Creators</ion-button>
    <ion-button>Podcasts</ion-button>
    <ion-button>Playlists</ion-button>
  </ion-item>

</div>

  <!--------------------------------------------------------------------------------------------------------
---------------------------------Recommended ------------------------------------
---------------------------------------------------------------------------------------------------------->
<ion-header> Top Picks</ion-header>
  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />

    <ion-card-header>
      <ion-card-title>Pod Title</ion-card-title>
      <ion-card-subtitle>Pod Host</ion-card-subtitle>
    </ion-card-header>

    <ion-button fill="clear">Listen Now</ion-button>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />

    <ion-card-header>
      <ion-card-title>Pod Title</ion-card-title>
      <ion-card-subtitle>Pod Host</ion-card-subtitle>
    </ion-card-header>
    <ion-button fill="clear">Listen Now</ion-button>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />

    <ion-card-header>
      <ion-card-title>Pod Title</ion-card-title>
      <ion-card-subtitle>Pod Host</ion-card-subtitle>
    </ion-card-header>

    <ion-button fill="clear">Listen Now</ion-button>
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />

    <ion-card-header>
      <ion-card-title>Pod Title</ion-card-title>
      <ion-card-subtitle>Pod Host</ion-card-subtitle>
    </ion-card-header>

    <ion-button fill="clear">Listen Now</ion-button>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />

    <ion-card-header>
      <ion-card-title>Pod Title</ion-card-title>
      <ion-card-subtitle>Pod Host</ion-card-subtitle>
    </ion-card-header>
    <ion-button fill="clear">Listen Now</ion-button>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />

    <ion-card-header>
      <ion-card-title>Pod Title</ion-card-title>
      <ion-card-subtitle>Pod Host</ion-card-subtitle>
    </ion-card-header>

    <ion-button fill="clear">Listen Now</ion-button>
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />

    <ion-card-header>
      <ion-card-title>Pod Title</ion-card-title>
      <ion-card-subtitle>Pod Host</ion-card-subtitle>
    </ion-card-header>

    <ion-button fill="clear">Listen Now</ion-button>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />

    <ion-card-header>
      <ion-card-title>Pod Title</ion-card-title>
      <ion-card-subtitle>Pod Host</ion-card-subtitle>
    </ion-card-header>
    <ion-button fill="clear">Listen Now</ion-button>
  </ion-card>

  <ion-card>
    <img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" />

    <ion-card-header>
      <ion-card-title>Pod Title</ion-card-title>
      <ion-card-subtitle>Pod Host</ion-card-subtitle>
    </ion-card-header>

    <ion-button fill="clear">Listen Now</ion-button>
  </ion-card>



</ion-content>
